// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1D9CD8 !default;
$red: #BD1723 !default;
$green: #0C6734 !default;
$yellow: #F19005 !default;

$primary: $blue;
$info: $blue;
$danger: $red;
$success: $green;
$warning: $yellow;
